@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";


#loading-bar {
    transform: scaleX(0);
}

@theme {
    --font-orbiton : "Orbitron";
    --font-stark : "stark";
    --color-blueprintGray : #a9a9a9;
}

@font-face {
    font-family: 'stark'; 
    src: url('/fonts/BankGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .fixed-header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    display: none;
    /* border: 3px solid yellow; */
}

.fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    opacity: 0;
    /* border: 5px solid black; */
    transition: opacity 0.2s ease;
    pointer-events: auto;
}

.fixed-header.active {
    opacity: 1;
}

.parts {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: black;
    /* border: 5px solid green; */
    position: relative;
}

.parts#theEnd {
    height: 150vh;
}
